body{
	background:#E0E0E0;
	overflow:hidden;
}


#msg-bar{
	width:100%;
	height:50px;
	background:#207CE5;
	color:white;
	font-size:40px;
	z-index:1000;
}

#contenedor-topbar{
	position: absolute;
	top: 5px;	
	left: 100px;
}


li.topbar-item{
	display: inline-block;
	background:whitesmoke;
	position:relative;
	top:10px;
    text-align: center;
    height: 20px;
    border-radius: 10px 10px 0px 0px;
	margin-left: 4px;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 17px;
	padding-bottom: 17px;
	-webkit-transition: all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5 ease;
	cursor:pointer;
	box-shadow:0px 0px 8px 0px;
	color: #353A39;
	font-size: 20px;
	font-weight: bold;
	
 	text-decoration: none;
	
}

li.topbar-item:hover{
	top:0;
	background:#207ce5;
	box-shadow:0px 0px 20px 0px black;
	color:white;
}

li.topbar-item.seleccionado{
	top:0;
	background:#207ce5;
	box-shadow:0px 0px 20px 0px black;
	color:white;
}

#contenedor-usrbar{
	position: absolute;
	top: 5px;	
	right: 20px;
}

li#fle{	
	margin-left: -3px;
	padding: 18px;
}



#leftbar{
	float: left;
	position:absolute;
	top:0px;
	padding-left:0px;
	width:100px;
	height:100%;
	background:#2B2A30;
	z-index:1;
	min-width: 100px;
	box-shadow: 5px 0px 10px 1px;
	z-index:1001;
}


 li.leftbar-item{
	background: rgb(118,121,130); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(118,121,130,1) 1%, rgba(98,103,112,1) 35%, rgba(54,52,76,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(118,121,130,1)), color-stop(35%,rgba(98,103,112,1)), color-stop(100%,rgba(54,52,76,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(118,121,130,1) 1%,rgba(98,103,112,1) 35%,rgba(54,52,76,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(118,121,130,1) 1%,rgba(98,103,112,1) 35%,rgba(54,52,76,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(118,121,130,1) 1%,rgba(98,103,112,1) 35%,rgba(54,52,76,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(118,121,130,1) 1%,rgba(98,103,112,1) 35%,rgba(54,52,76,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767982', endColorstr='#36344c',GradientType=0 ); /* IE6-9 */
    text-align: center;
    height: 35px;
    cursor:pointer;
	margin-top: -12px;
	line-height: 25px;
	padding-left: 43px;
	padding-right: 43px;
	padding-top: 17px;
	padding-bottom: 17px;
	

	
}

li.leftbar-item.seleccionado{
background: #207ce5;

}

li.leftbar-item.seleccionado:before{
    position: absolute;
    content:"";
    margin-top: -17px;
    left: 100%;
    width: 0;
    height: 0;  
    border-left:40px solid #207ce5;  
    border-right:35px solid transparent;    
    border-bottom: 35px solid transparent;
    border-top:35px solid transparent;
}


li.leftbar-item:hover{
background: #207ce5;

}

li.leftbar-item:hover:before{
    position: absolute;
    content:"";
    margin-top: -17px;
    left: 100%;
    width: 0;
    height: 0;  
    border-left:40px solid #207ce5;  
    border-right:35px solid transparent;    
    border-bottom: 35px solid transparent;
    border-top:35px solid transparent;
}


 li.leftbar-item a{
   
 	color: white;
	font-size: 22px;
	text-shadow: 3px 3px 5px black;	
 	text-decoration: none;


 }
.contenedor-leftbar{
position: absolute;
 top:130px;
 margin-left: 0%;
 list-style-type: none;

}

.circulo {
	color:white;
	text-align: center;
	font-weight: bold;
	margin-left: 50px;
	margin-top:-23px;
	position: absolute;
	background-color:#E00408;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

.seleccionado{
	background: #207ce5 !important;
}

#contenedor2{
	top: 60px;
	left: 0px;
	position: absolute;		
	width: 100%;
	height:100%;
	background-color:whitesmoke;
	-webkit-transition: all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5 ease;
	border-radius: 5px;
	box-shadow: 0px 2px 20px 0px;
}

#contenedor-btn{
	position: relative;
	display: inline-block;
	margin-top:10%;
    margin-left: 35%;
	width: 500px;
	height:450px;
	
	
}



#btn-form{
	margin-top: 20px;
	margin-left:120px;
}
/* PAGINA PRINCIPALLLLLLLLLLLL y RESTO DE FORMULARIOS */
#formu-slider-sup{
	
	margin-top: 150px;
	margin-left: 400px;
}

#formu-video-med{
	
	margin-top: 100px;
	margin-left: 400px;
}

/* PRODUCTOS AGREGAR */
.form{
margin: 400px;
}

#form{
	position:relative;
	left:200px;
	top:50px;
}

#form label{
color: steelblue;
font-weight: bold;
text-align:left;

}

#form input{
padding: 15px;
width: 400px;
border-radius: 7px;
}

input[type="file"] {
height: 40px;
line-height: 40px;
}


/* Producto listaaaa */


.opciones{
	position: absolute;
	color: steelblue;
	font-weight: bold;
     position: absolute;
	text-align: left;
	list-style-type: none;
	width: 500px;
	margin-top: 60px;
	margin-left: 400px;
	
 

}

ul.opciones li{ 
    padding-top:15px; 
	padding-bottom:15px;
	padding-left: 15px;
	border-radius: 10px;
	margin-top: 5px;
}
ul.opciones li:hover{

	border-top:solid; 
	border-bottom:solid;
	border-color: steelblue;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-radius: 15px;
	-webkit-transition: all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5 ease;
}
ul.opciones li:nth-child(2n+1) {
	background-color:#B6C6C3;
}
ul.opciones li:nth-child(2n) {
	background-color: lightblue; 
}
ul.opciones li:nth-child(2n+1):hover {
	color:whitesmoke;
	background-color: #739FEF; 
}
ul.opciones li:nth-child(2n):hover {
	color:whitesmoke; 
	background-color: #739FEF; 

}



.opciones li {
			
			
		}

		.boton{
			float:right;
			cursor: pointer;
			opacity:0;
			position:relative;
			right:5px;
			top:-5px;
			width:80px;
			height:20px;
			-webkit-transition:opacity 0.5s ease;
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			background-color: #bd362f;
  			*background-color: #a9302a;
  			margin-right: 10px;
		}

		.opciones li:hover .boton{
			opacity:1;
			
		}



/* CaRRITO */

.opciones-carrito{
	position: absolute;
	color: steelblue;
	font-weight: bold;
	text-align: left;
	list-style-type: none;
	width: 1050px;
	margin-top: 130px;
	right: 200px;
    font-size: 13px;

}
.opciones-carrito div:hover .boton{

  	opacity: 1; 
  	color: #ffffff;
  	background-color: #bd362f;
 	*background-color: #a9302a;
		}

 div.op { 
	background-color: #BCCFDB;
    padding-top:15px; 
	padding-bottom:15px;
	padding-left: 15px;
	border-radius: 10px;
	margin-top: 10px;
}
 div.op:hover{
	color: whitesmoke;
    background-color: steelblue;
	
	
	border-radius: 15px;
	-webkit-transition: all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5 ease;
}
div.centrar
{
	margin-left: 40px;
}
div .elem{
padding: 0px;
margin: 0px;
width: 35px;	
display: inline-block;


}
div #user {
margin-right: 26px;

}

div #producto{
margin-left: 190px;
width: 40px;
border-left-style: solid;
border-left-width: 1px;
border-left-color: steelblue;
padding-left: 60px;
}

div #cant{
margin-left: 290px;
border-left-style: solid;
border-left-width: 1px;
border-left-color: steelblue;
padding-left: 80px;
}


#contenedor-carritobar{
	width: 1200px;
	position: absolute;
	top: 75px;	
	left: 110px;
}


li.carritobar-item{
	display: inline-block;
	background: #606c88; /* Old browsers */
	background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */	
	background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
	position:relative;
	top:10px;
    text-align: center;

    border-radius: 20px 20px 0px 0px;
	margin-left: 180px;
	line-height: 45px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 20px;
	-webkit-transition: all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
	cursor:pointer;
	box-shadow: 5px 3px 3px ;
	
}

li.carritobar-item:hover{
	top:0;
}

li.carritobar-item a{
   
 	color: whitesmoke;
	font-size: 20px;
	font-weight: bold;
	
 	text-decoration: none;


 }


/* Usuarios   LISTA */
#contenedor-usuariobar{
	width: 1700px;
	position: absolute;
	top: 55px;
	left: 170px;
}


li.usuariobar-item{
	display: inline-block;
	background:green;
	position:relative;
	top:10px;
    text-align: center;
    height: 500px;
    width: 350px;
    border-radius: 0px 20px 20px 20px;
	margin-left: 70px;
	line-height: 45px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 27px;


	box-shadow: 5px 3px 3px ;
	
}

li.usuariobar-item:hover{
	
}

li.usuariobar-item a{
   
 	color:whitesmoke;
	font-size: 26px;
 	text-decoration: none;
 	font-weight: bold;
 	text-shadow:2px 2px 3px black;


 }



#admin-style{
	background: #66a033; /* Old browsers */
background: -moz-linear-gradient(-45deg, #66a033 0%, #6fba0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#66a033), color-stop(100%,#6fba0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #66a033 0%,#6fba0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #66a033 0%,#6fba0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #66a033 0%,#6fba0e 100%); /* IE10+ */
background: linear-gradient(135deg, #66a033 0%,#6fba0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a033', endColorstr='#6fba0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#user-style{
background: #3082b5; /* Old browsers */
background: -moz-linear-gradient(-45deg, #3082b5 0%, #1f5da8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3082b5), color-stop(100%,#1f5da8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #3082b5 0%,#1f5da8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #3082b5 0%,#1f5da8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #3082b5 0%,#1f5da8 100%); /* IE10+ */
background: linear-gradient(135deg, #3082b5 0%,#1f5da8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3082b5', endColorstr='#1f5da8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.opciones-user{
	color: whitesmoke;
	font-size: 18px;
	position: absolute;
    width:450px;
	text-align:left;
	padding-left: 10px;
	list-style-type: none;
	
	margin-top: 240px;
	border-radius: 40px;
    max-height: 50px;

}

ul.opciones-user li{ 
    
    padding-top:15px; 
	padding-bottom:15px;
	padding-left: 10px;
}
ul.opciones-user li{
	background: #1f5da8; /* Old browsers */
background: -moz-linear-gradient(top, #1f5da8 0%, #3082b5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f5da8), color-stop(100%,#3082b5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1f5da8 0%,#3082b5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1f5da8 0%,#3082b5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #1f5da8 0%,#3082b5 100%); /* IE10+ */
background: linear-gradient(to bottom, #1f5da8 0%,#3082b5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f5da8', endColorstr='#3082b5',GradientType=0 ); /* IE6-9 */
}
ul.opciones-user li:hover{
	background: #4096ee;
}

ul.opciones-user.op-admin li{
background: #7cbc0a; /* Old browsers */
background: -moz-linear-gradient(top, #7cbc0a 0%, #80c217 19%, #9dd53a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cbc0a), color-stop(19%,#80c217), color-stop(100%,#9dd53a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7cbc0a 0%,#80c217 19%,#9dd53a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7cbc0a 0%,#80c217 19%,#9dd53a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7cbc0a 0%,#80c217 19%,#9dd53a 100%); /* IE10+ */
background: linear-gradient(to bottom, #7cbc0a 0%,#80c217 19%,#9dd53a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbc0a', endColorstr='#9dd53a',GradientType=0 ); /* IE6-9 */
}

ul.opciones-user.op-admin li:hover{
background: #4D9600;

}


ul.opciones-user li:hover .boton{
	opacity: 1; 
  	color: #ffffff;
  	background-color: #bd362f;
 	*background-color: #a9302a;
 	padding: 7px;
 	padding-left: 2px;
}
.lista-icon{
	margin-top: 2px;
	margin-right: 5px;
}
#lista-admin{
    position: absolute;
	margin-left: 255px;
	margin-top: 150px;
	border-radius: 10px;
}

#lista-users{
	position: absolute;
	margin-left: 779px;
	margin-top: 150px;
	border-radius: 10px;
}
